.Search {
  color: #ffff;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_input input {
  border: none;
  outline: none;
  background-color: #f7c232;
  padding: 10px 15px;
  width: 250px;
  border-radius: 5px;
  color: #50bfc3;
  margin-bottom: 30px;
}

.form_input input::placeholder {
  color: #50bfc3;
  font-weight: bolder;
}

.form_input {
  display: flex;
  gap: 10px;
}

.search-btn {
  color: #f7c232;
  font-size: 16px;
  padding: 0 10px;
  background-color: #50bfc3;
  border: none;
  border-radius: 5px;
}
